<!DOCTYPE html>
<html class="no-js"  lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="css/main.css" media="all" />
		<script src="vendor/lodash.js"></script>
		<script src="vendor/jquery-2.1.4.min.js"></script>
		<script src="vendor/backbone.js"></script>
	</head>
	<body>
		<div id="catpicker"></div>
		<div id="catclicker"></div>
		<script type="text/template" data-template="cat">
			<div class="cat">
				<p><%= name %></p>
				<img src="<%= image %>"/>
				<p class="clicks">Clicked <%= clicks %> times</p>
			</div>
		</script>
		<script type="text/template" data-template="selector">
			<select>
				<% cats.each(function(cat) { %>
					<option><%= cat.name %></option>
				<% }); %>
			</select>
		</script>

		<script src="js/backbone.js"></script>
	</body>
</html>
